html
{
	font-family : verdana, sans-serif;
}

body
{
	margin:0;
	padding:0;
}

a
{
	text-align:center;
	text-decoration:none;
}

nav a
{
		color: white;
			padding:10px;
}

#container a
{
	width:100%;
	padding:10px;
	color:black;
	display: flex;
}

button:hover
{
	background:aqua;border-radius:15px;
}

a:hover
{
	color:dimgray;
	background:white;
}

nav form{
	margin: 5px;
	margin-left : 10px;
	margin-right: 10px;
}

nav button, nav input{
	border-radius:15px;
	margin-left : 10px;
	margin-right: 10px;
}

nav a, div form, div form input
{
	display:flex;
	flex:auto;
	flex-wrap:wrap;
	flex-direction:column;
}

div form, div form input
{
	flex-direction: row;
}

nav div
{
	display:flex;
	flex:auto;
	flex-wrap:wrap;
}

nav
{
	display:flex;
	background:black;
	margin-bottom:2%;
	flex-wrap:wrap;
}

#log
{
	text-align:center;
	margin-top:30vh;
	padding:30px;
	background:deepskyblue;
	} #log input, nav input {border-radius:15px; outline:none;padding:3px;font-size:1em}

#sidebar
{
	height:auto;
	width:20vw;
	background : dimgrey;
	border-radius:0 45px 45px 0;
}	#sidebar a {padding:2%;flex-direction: column;display:flex;flex:auto;color:black;}

#frame
{
	height:52vh;
	width:100vw;
	margin-left:5vw;
	background: grey;
	padding-left : 2vw;
	padding-right : 2vw;
	border-radius:45px 0 0 45px;
	overflow:auto;
}

#container
{
	background: grey;
} #container img {max-width: 200px;max-height: 200px;}

#prod_container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#wrap
{
	display:flex;
}


/* Products in the basket */

#chosen-items {
	display:flex;
}

.chosen-item {
	width: 200px;
	background: lightgray;
	margin: 5px;
	display:flex;
	flex-direction: column;
}

.chosen-item img {
	max-width: 100%;
}

.chosen-item b {
	text-align: center;
}


/* Archived baskets */

.archived-basket img {
	width: 200px;
}
